<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <!-- Bean definitions go here -->
    
    <!--<bean id="mySkiJumper" class="com.thesoftwareguild.mavenproject1.SkiJumper" />-->

    <bean id="consoleIO" class="com.mycompany.ui.ConsoleIO" />
    <bean id="dvdDao" class="com.mycompany.dao.Dvd_DAO_Impl" >
        <constructor-arg type="boolean" value="false"/>
    </bean>
    <bean id="commentDao" class="com.mycompany.dao.Comments_DAO_Impl" />


    <bean id="controller" class="com.mycompany.controller.DVD_Library_Controller">
        <constructor-arg ref="consoleIO" />
        <constructor-arg ref="dvdDao" />
        <constructor-arg ref="commentDao" />
    </bean>
</beans>